*.DS_Store
*.Rproj
*.code-workspace
*.Rhistory
*.pdf
*.rds
*.csv
*.png

*.model

*.aux
*.bbl
*.blg
*.lof
*.lot
*.out
*.toc
*.gz
*.log
*.bib


code/data/
code/.Rproj.user/
code/utils/simulations/simulations_rojas_perilla/
presentations/

.vscode/

.Rproj.user
